<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="core/sp-load.php"
    colors="true"
    testdox="true"
    verbose="true"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Default Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
