html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


#mobile-menu {
  overflow: hidden;
  transform-origin: top;
  transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
  transform: scaleY(0);
  visibility: hidden;
}

#mobile-menu:not(.hidden) {
  transform: scaleY(1);
  visibility: visible;
}


.loader {
  border-top-color: #ff0000;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#tagsButtons::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}

#tagsButtons::-webkit-scrollbar-track {
  background: #111827;
  /* color of the tracking area */
}

#tagsButtons::-webkit-scrollbar-thumb {
  background-color: #777;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  width: 5px;
}