Thank you for using our email widget to collect emails and send coupons. By using this widget, you agree to the following terms of service:

You will only use the widget to collect emails for the purpose of sending coupons and other promotional materials related to your business.

You will not use the widget to collect emails for any illegal or unethical purposes, including but not limited to spamming or selling emails to third parties.

You will not use the widget to collect sensitive personal information, such as financial or medical information.

You will only send emails to individuals who have opted in to receive emails from you.

You will include an unsubscribe link in all emails sent through the widget, allowing recipients to opt out of future emails if they choose.

You will comply with all applicable laws and regulations related to email marketing, including but not limited to the CAN-SPAM Act and the General Data Protection Regulation (GDPR).

We reserve the right to terminate or suspend your use of the widget at any time if we determine that you are not in compliance with these terms of service.

By using this widget, you acknowledge that you have read and understood these terms of service and agree to be bound by them. If you do not agree to these terms of service, you should not use the widget.